{#
 ___           _
|_ _|_ __   __| | _____  __
 | || '_ \ / _` |/ _ \ \/ /
 | || | | | (_| |  __/>  <
|___|_| |_|\__,_|\___/_/\_\
#}

{% extends "base.html" %}

{% block content %}
  {% if session %}
    <aside class="alert alert-warning">
      <span>Active session: {{ session.daytype }}</span>
      <div class="float-end">
        <a href="/session" class="link-success me-1">[continue]</a>
        <a href="/?abort-session" class="link-danger">[abort]</a>
      </div>
    </aside>
  {% endif %}

  <section>
    <ul class="list-group p-0">
      {% for dt in day_types %}
        <a href="/session?daytype={{ dt }}"
           class="list-group-item list-group-item-action p-4">
          <div class="fs-4">
            <i class="fa-solid fa-dumbbell" style="width: 1.5em"></i>
            {{ dt }}
          </div>
        </a>
      {% endfor %}

      <a href="/exercise"
         class="list-group-item list-group-item-light list-group-item-action p-4">
        <div class="fs-4">
          <i class="fa-solid fa-plus" style="width: 1.5em"></i>
          Create Exercise
        </div>
      </a>
    </ul>
  </section>
{% endblock %}
