{#
 ____                _
/ ___|  ___  ___ ___(_) ___  _ __
\___ \ / _ \/ __/ __| |/ _ \| '_ \
 ___) |  __/\__ \__ \ | (_) | | | |
|____/ \___||___/___/_|\___/|_| |_|
#}

{% extends "base.html" %}

{% block content %}


  <!-- Exercise List -->


  <section style="margin-bottom: 7rem">
    {% if exercises %}
      <ul class="list-group mb-3">

        {% for ex in exercises %}
          <a href="/exercise/{{ ex.name }}"
             class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
            <div class="me-auto">
              <div class="fw-bold">{{ ex.name }}</div>
              <i class="text-secondary">{{ ex.latest_date() }}</i>
            </div>
            <i class="fa-solid fa-arrow-right my-auto"></i>
          </a>
        {% endfor %}

      </ul>
    {% endif %}

    {% if exercises and core_exercises %}
      <div class="border-bottom border-warning p-0" style="margin: 2em 25vw"></div>
    {% endif %}

    {% if core_exercises %}
      <ul class="list-group mb-3">

        {% for ex in core_exercises %}
          <a href="/exercise/{{ ex.name }}"
             class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
            <div class="me-auto">
              <div class="fw-bold">{{ ex.name }}</div>
              <i class="text-secondary">{{ ex.latest_date() }}</i>
            </div>
            <i class="fa-solid fa-arrow-right my-auto"></i>
          </a>
        {% endfor %}

      </ul>
    {% endif %}

    {% if cardio_exercises and (exercises or core_exercises) %}
      <div class="border-bottom border-warning p-0" style="margin: 2em 25vw"></div>
    {% endif %}

    {% if cardio_exercises %}
      <ul class="list-group">

        {% for ex in cardio_exercises %}
          <a href="/exercise/{{ ex.name }}"
             class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
            <div class="me-auto">
              <div class="fw-bold">{{ ex.name }}</div>
              <i class="text-secondary">{{ ex.latest_date() }}</i>
            </div>
            <i class="fa-solid fa-arrow-right my-auto"></i>
          </a>
        {% endfor %}

      </ul>
    {% endif %}
  </section>


  <!-- Action Buttons -->


  <section class="d-flex justify-content-center py-4 fixed-bottom bg-body">
    <div class="btn-group w-75">
      <a href="/?finish-session" class="btn btn-outline-success py-3">
        <i class="bi bi-check-circle"></i> Finish
      </a>
      <a href="/exercise" class="btn btn-outline-secondary py-3">
        <i class="bi bi-plus-circle"></i> Exercise
      </a>
      <a href="/?abort-session" class="btn btn-outline-danger py-3">
        <i class="bi bi-x-circle"></i> Abort
      </a>
    </div>
  </section>

{% endblock %}
